snippet <
	<${1:tag}>
		${0}
	</$1>
snippet <c
	<${1:tag} class="${2:class}">
		${0}
	</$1>
snippet <a
	<${1:tag} ${2:attr}="${3:value}">
		${0}
	</$1>
snippet div
	<div>
		${0}
	</div>
snippet divc
	<div class="${1:class}">
		${0}
	</div>
