snippet tmpl
	bin = ${1:bin}
	objs = ${2:main}.o

	$(bin): $(objs)
		g++ -Wall -o $@ $(objs)

	deps = $(objs:.o=.d)

	-include $(deps)

	%.o: %.cc
		g++ -c -Wall -MMD -o $@ $<

	all: $(bin)

	run: $(bin)
		./$(bin)
	
	clean:
		rm -f $(bin) $(objs) $(deps)

	memcheck: $(bin)
		valgrind --tool=memcheck ./$(bin)

	.PHONY : all run clean memcheck
