snippet quote
	{{< quote source="${1:cite}" link="${2:url}">}}
	${0:text}
	{{< /quote >}}
snippet block
	{{< block >}}
	${0:text}
	{{< /quote >}}
snippet comment
	{{< comment >}}
	${0:text}
	{{< /comment >}}
snippet todo
	{{< todo >}}
	${0:text}
	{{< /todo >}}
