# functions
snippet func
	def ${1:name}(${2:args})
		${0:pass}
snippet me
	def ${1:name}(self${2:, args...}):
		${0:pass}
# loops
snippet wh
	while ${1:cond}:
		${0}
snippet for
	for ${1:x} in ${2:vals}:
		${0}
snippet forr
	for ${1:x} in range(${2:n}):
		${0}
snippet fore
	for ${1:i}, ${2:x} in enumerate(${3:vals}):
		${0}
snippet forkv
	for ${1:k}, ${2:v} in ${3:vals}:
		${0}
# types
snippet cl
	class ${1:Name}(${2:object}):
		${0:pass}
