snippet :smile:
😀
endsnippet

snippet :laugh:
😆
endsnippet

snippet :joy:
😂
endsnippet

snippet :cry:
😭
endsnippet

snippet :thinking:
🤔
endsnippet

snippet :pray:
🙏
endsnippet

snippet :thumbsup:
👍
endsnippet

snippet :thumbsdown:
👎
endsnippet

snippet :eyes:
👀
endsnippet

snippet :fire:
🔥
endsnippet

snippet :heart:
❤
endsnippet
